.content-container {

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 15px;

    margin-top: 130px;
}

.img-fone {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.img-fone img {

    height: 500px;
}

.fone-info {

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 80px;
}

.header-container {

    font-family: 'Roboto';
    font-weight: bold;
    color: #ca3b3a;
    font-size: 50px;
}

.header-info {

    color: #707070;
    font-size: 20px;
    margin-top: 40px;

    font-family: 'Roboto';
}

.header-border {

    font-weight: bold;
}

.header-light {

    font-weight: lighter;
    margin-bottom: 10px;
}

.buy {

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 20px;
}

.price {

    font-weight: bold;
    font-size: 30px;
    font-family: 'Roboto';

    margin-right: 100px;
}

button {

    background-color: #ca3b3a;
    border-width: 0;
    
    border-radius: 20px;
    width: 150px;
    height: 50px;

    font-size: 15px;
    font-weight: bold;
    color: white;
}

@media (max-width: 700px) {

    .content-container {
  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vh;
    }
    
    .img-fone {

        margin: 0;
    }

    .img-fone img {

        padding: 0 10vh 0 10vh;
    }

    .fone-info {

        margin: 50px 0 0 0;
    }

    .buy {

        justify-content: center;
    }
}