.footer-container {

    position: absolute;

    width: 80%;

    bottom: 0;
    right: 10%;
    left: 10%;
}

.footer {

    background-color: #ca3b3a;
    border-radius: 20px 20px 0 0;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-weight: 300;
}

.heart-beat, 
.bluetooth,
.bateria {

    color: white;

    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heart-beat p, 
.bluetooth p,
.bateria p {

    width: 190px;
}

.heart-beat img {

    height: 30px;
    margin-right: 20px;
}

.bluetooth img {

    height: 30px;
    margin-right: 20px;
}

.bateria img {

    height: 30px;
    margin-right: 20px;
}

@media (max-width: 700px) {

    .footer-container {

        position: relative;
        width: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        bottom: 0;
        right: 0%;
        left: 0%;
    }

    .footer {

        margin-top: 80px;
        margin-bottom: 30px;

        border-radius: 20px 20px 20px 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        

        height: 250px;
        width: 50%;
    }

    .heart-beat, 
    .bluetooth,
    .bateria {

        margin-top: 10px;
        margin-bottom: 10px;
    }
}
  