.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin-top: 10px;
}

.header-logo img {
  width: 90px;

  margin-left: -100px;
}

.header-center a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: bolder;
  margin-right: 25px;

  color: #707070;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: -100px;
}

.header-right .search img {
  margin-right: 30px;
  width: 20px;
}

.header-right .carrinho img {
  margin-right: 35px;
  width: 25px;
}

.header-right .menu img {
  margin-right: 30px;
  width: 25px;
}

@media (max-width: 700px) {

  .header {

    max-width: 100vh;
  }

  .header-center a {

    display: none;
  }

  .header-logo img {

    margin-left: 300px;
    margin-right: 320px;
  }
  
  .header-right {

    margin-right: 0;
  }
}
